.text-red {
  color: var(--danger-text);
}

.text-orange {
  color: var(--warning-text);
}

.text-green {
  color: var(--success-text);
}

.d-contents {
  display: contents;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-between {
  justify-content: space-between;
}

.w-full {
  width: 100%;
}

.top-1\/4 {
  top: 25%;
}

.m-4 {
  margin: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.text-6xl {
  font-size: 3.75rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.text-1xl {
  font-size: 1.1rem;
}

.text-small {
  font-size: 0.8rem;
}

.h-screen {
  height: 100vh;
}

.background-warning-dark {
  background-color: var(--warning-dark-10);
  color: var;
}

.background-dark {
  background-color: var(--shadow-color-regular);
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: relative;
}

.flex-col {
  flex-direction: column;
}

.blur {
  filter: blur(1px);
}
